{% extends 'administration/crear_usuario.html' %}

{% block Pagetitle %}
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                    <li class="breadcrumb-item active">Listado de Usuarios</li>
                </ol>
            </nav>
{% endblock %}


{% block Main_section_dashboard %}
    {% block card-body %}
    <a  href="{% url 'register' %}">
        <i class="bi bi-person-add"></i><span>Añadir</span>
    </a>
    <h1>Lista de usuarios</h1>
        <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
            <div class="datatable-top">
                <div class="datatable-dropdown">
                    <label>
                        <select class="datatable-selector"><option value="5">5</option>
				            <option value="10" selected="">10</option>
				            <option value="15">15</option>
				            <option value="20">20</option>
				            <option value="25">25</option>
				        </select> entries per page
                    </label>
                </div>
                <div class="datatable-search">
                <input class="datatable-input" placeholder="Search..." type="search" title="Search within table">
            </div>
            </div>
        <div class="datatable-container">
            <table id="userTable" class="table datatable datatable-table">
                <thead>
                <tr>
                    <th data-sortable="true" style="width: 5.705059203444564%;"><a href="#" class="datatable-sorter">#</a></th>
                    <th data-sortable="true" style="width: 27.98708288482239%;"><a href="#" class="datatable-sorter">CI</a></th>
                    <th data-sortable="true" style="width: 37.78256189451022%;"><a href="#" class="datatable-sorter">Nombre de usuario</a></th>
                    <th data-sortable="true" style="width: 9.257265877287406%;"><a href="#" class="datatable-sorter">Email</a></th>
                    <th data-sortable="true" style="width: 19.268030139935412%;"><a href="#" class="datatable-sorter">Último inicio de sesión</a></th>
                </tr>
                </thead>
{#                    <th scope="col">CI</th>#}
{#                    <th scope="col">Nombre de usuario</th>#}
{#                    <th scope="col">Email</th>#}
{#                    <th scope="col">Último inicio de sesión</th>#}
{#                    <th scope="col">Staff</th>#}
                <tbody>
                    {% for user in users %}
                        <tr data-index="0"><td>1</td>>
                        <td>{{ user.ci }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.last_login }}</td>
                        <td>
                            <a href="#" class="edit-btn"><i class="bi bi-pencil-square"></i></a>
                            <a href="#" class="delete-btn"><i class="bi bi-trash3-fill bg-danger"></i></a>
                        </td>
                        </tr>
                        {% empty %}
                        <tr><td colspan="5">No hay usuarios registrados.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
{% endblock %}


{#datatable hecha por mi#}
<div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
            <div class="datatable-top">
                <div class="datatable-dropdown">
                    <label>
                        <select class="datatable-selector"><option value="5">5</option>
				            <option value="10" selected="">10</option>
				            <option value="15">15</option>
				            <option value="20">20</option>
				            <option value="25">25</option>
				        </select> entries per page
            </label>
        </div>
    <div class="datatable-search">
            <input class="datatable-input" placeholder="Search..." type="search" title="Search within table">
        </div>
</div>
<div class="datatable-container">
    <table id="userTable" class="table datatable">
        <thead>
        <tr>
            <th scope="col">CI</th>
            <th scope="col">Nombre de usuario</th>
            <th scope="col">Email</th>
            <th scope="col">Último inicio de sesión</th>
            <th scope="col">Staff</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
            <th scope="row">1</th>
            <td>{{ user.ci }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.last_login }}</td>
            <td>
                <a href="#" class="edit-btn"><i class="bi bi-pencil-square"></i></a>
                <a href="#" class="delete-btn"><i class="bi bi-trash3-fill bg-danger"></i></a>
            </td>
            </tr>
            {% empty %}
            <tr><td colspan="5">No hay usuarios registrados.</td></tr>
        {% endfor %}
    </tbody>
    </table>
    {% endblock %}
{% endblock %}