{% extends 'base.html' %}
{% load static %}

<!-- ======= Header ======= -->
{% block Header %}
    {% include 'components/header.html' %}
{% endblock %}
<!-- End Header -->

<!-- ======= Sidebar ======= -->
{% block Sidebar %}
    {% include 'components/sidebar.html' %}
{% endblock %}
<!-- ======= End Sidebar ======= -->


<!-- ======= Bloque para el contenido del Main ======= -->
{% block Pagetitle %}
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
        </ol>
    </nav>
{% endblock %}
<!-- End Page Title -->

{% block Main_section_dashboard %}

    {% block section_dashboard %}
        <h1>Holaaaaaaaaaa aqui iria un carrusel con imagenes del Che</h1>
    {% endblock %}

{% endblock %}
<!-- ======= End Bloque para el contenido del Main ======= -->


