{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}

{% block Header %}
    {% include 'components/header.html' %}
{% endblock %}

{% block Sidebar %}
    {% include 'components/sidebar.html' %}
{% endblock %}

<!-- ======= Bloque para el contenido del Main ======= -->
{% block Pagetitle %}
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item active">Registrar usuario</li>
        </ol>
    </nav>
{% endblock %}
<!-- End Page Title -->


{% block Main_section_dashboard %}

    <div class="col-8 d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {% block card-title %}
                        Registrar usuario
                    {% endblock %}
                </h5>

                {% block card-body %}
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary">Añadir</button>
                        <a href="{% url 'custom_user_list' %}" class="btn btn-primary" id="cancel-button">Cancelar
                            Cambios</a>
                    </form>
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}
<!-- ======= Aqui termina el Bloque para el contenido del Main ======= -->
