{% extends 'administration/crear_usuario.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}

{% block Pagetitle %}
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item active">Eliminar Usuario</li>
        </ol>
    </nav>
{% endblock %}


<!-- ======= Bloque para el contenido del Main ======= -->
{% block Main_section_dashboard %}
    <div class="col-8 d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {% block card-title %}
                        ¿Está seguro que quiere eliminar al usuario?
                    {% endblock %}
                </h5>

                {% block card-body %}
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <a href="{% url 'custom_user_list' %}" class="btn btn-primary" id="cancel-button">Cancelar
                            Cambios</a>
                    </form>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
<!-- ======= Aqui termina el Bloque para el contenido del Main ======= -->