{% extends 'administration/crear_usuario.html' %}
{% load static %}

{% block Head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/vendor/datatables 2.0.0/dataTables.bootstrap5.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/datatables 2.0.0/dataTables-2.0.0.js' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/vendor/datatables 2.0.0/dataTables.bootstrap5.css' %}">
{% endblock %}

{% block Pagetitle %}
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item active">Listado de Usuarios</li>
        </ol>
    </nav>
{% endblock %}


{% block Main_section_dashboard %}
    {% block card-body %}
        <h3>Lista de usuarios</h3>


        <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
            <a href="{% url 'register' %}">
                <li class="nav-item" role="presentation">
                    <button
                            class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home"
                            type="button" role="tab" aria-controls="home" aria-selected="true">Añadir
                        <i class="bi bi-person-add"></i>
                    </button>
                </li>
            </a>
        </ul>

    {% endblock %}

    {% block DataTable %}

        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <table id="tabla" class="table table-borderless datatable">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Usuario</th>
                            <th># Carnet Identidad</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Último inicio de sesión</th>
                            <th>Correo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if users %}
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.ci }}</td>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td>{{ user.last_login }}</td>
                                    <td>{{ user.email }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7">No hay usuarios registrados.</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}


{% block extra_scripts %}
    <script>
        $(document).ready(function () {
            var navItem = $('.nav-item');
            var expanded = navItem.attr('aria-expanded');
            navItem.attr('aria-expanded', expanded === 'true' ? 'false' : 'true');
            $('#forms-nav').addClass('show');
            $('#forms-nav a i').removeClass('bi-circle');
            $('#forms-nav a i').addClass('bi-card-list');
        });
    </script>

    <script type="application/javascript">
        $(function () {
            $('#tabla').DataTable({
                autoWidth: true,
            });
        });
    </script>
{% endblock %}